* {
    box-sizing: border-box;
}
:root {
    --green: #c1e1c1;
    --size: calc(min(100vw, 100vh) - 40px); /* Grid is the size of the shortest side minus 20px margin */
    font-family: 'Nunito';
}

body {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

h1 {
    letter-spacing: -1.5px;
    color:rgba(0,0,0,.5);
    font-size:2.5rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
}

.buttons button {
    border: none;
    padding:5px 10px;
    background-color: rgba(0,0,0,.3);
    color: white;
    font-family: inherit;
    cursor: pointer;
}

.colors {
    display:grid;
    grid-template-columns: repeat(10, 20px) 1fr;
    gap:5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,.5);
}

.swatch {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.color-picker {
    grid-row-start: 1;
    grid-column-start: 11;
    grid-row-end: 3;
    display: block;
    height: 44px;
    width: 44px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.canvas {
    width: var(--size);
    height: var(--size);
    display: grid;
    background-color: white;
    user-select: none;
}
.pixel {
    background-color: transparent;
    opacity: 0;
}