*, ::before, ::after {
    box-sizing: border-box;
}

.wrapper {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 960px;
    height: 960px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    border: solid 1px red;
}
